<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<script src="./js/jquery.js"></script>
<h3>请先登录</h3>
<div><input type="text" placeholder="用户名" id="username"></div>
<div><input type="password" placeholder="密码" id="password"></div>
<div><button id="submit" onclick="login()">登录</button></div>
<script>
    function login() {
        let username = $('#username').val();
        let password = $('#password').val();
        let params = {
            username,
            password
        };
        $.ajax({
            type: 'post',
            url: '/user/login',
            dataType: 'json',
            data: params,
            success: function (res) {
                if (res.code === 1000) {
                    location.href = res.object;
                }
            },
            error: function (err) {
                console.error(err);
            }
        })
    }

    function getShopList() {
        $.ajax({
            type: 'get',
            url: '/shop/list',
            dataType: 'json',
            success: function (res) {
                let ulDom = document.getElementById("shop_list");
                if (res.code === 1000) {
                    let innerHtml = "";
                    res.object.map(item => {
                        innerHtml += "<li>" + item.name + " * " + item.count + "</li>";
                    });
                    ulDom.innerHTML = innerHtml;
                } else {
                    ulDom.innerHTML = "未登录"
                }
            },
            error: function (err) {
                console.error(err);
            }
        })
    }
</script>
</body>
</html>